@media only screen and (max-width: 576px) {
 
 	.card {
 		margin-top: 50px;
 	}

}

th,h1,h3 {
  font-family: 'Tangerine', cursive;
  font-size: 1.7rem;
}

.card-text {
	font-family: 'Smythe', cursive;
}

button {
	background-color: #6d7993;
}

td, button {
	font-family: 'Smythe', cursive;
}